@import 'fontes';

body {
    margin: 0;
    font-family: $fonte-padrao;
}

#banner {
    background-color: #d35400;
    color: white;
    padding: 5px 10px;

    * {
        display: inline;
        vertical-align: middle;
    }

    img {
        width: 40px;
        background-color: #eb974e;
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }

    h1 {
        font-family: $fonte-negrito;
    }
}

#conteudo {
    padding: 10px;
}

#areaLogin {
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #dddddd;

    input {
        display: block;
        margin: 0px auto 10px auto;
        font-family: $fonte-padrao;

        &[type=text],
        &[type=password] {
            height: 35px;
            width: 350px;
            border: 1px solid #cccccc;
            font-size: 110%;
            padding: 5px;
            text-align: center;
            color: #777777;
        }

        &[type=submit] {
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #e67e22;
            padding: 5px 10px;
            font-size: 130%;
        }
    }
}

#home {
    text-align: center;
}